\documentclass[17pt]{extarticle}
\usepackage{fontspec}
\usepackage{multicol}
\usepackage{xeCJK}
\usepackage{array}
\setmainfont{Noto Sans CJK SC} % This defines chinese font - alternatives may be available
\setlength{\parindent}{0pt}

\begin{document}

{\noindent\large\textbf{ {{ title }} }}\\

1. For the following sentences, write the English translation and pinyin.\\
\vspace{0.5em}\\
{% for sentence in sentences_chinese %}
\noindent
\begin{minipage}{\textwidth}
{{sentence}}\\
\vspace{0.5em}\\
\rule{\textwidth}{0.4pt}
\vspace{0.5em}
\end{minipage}
{% endfor %}

\pagebreak
2. For the following words, write the English translation and pinyin.\\
\begin{multicols}{2}
{% for word in words_chinese %}
\begin{minipage}{\linewidth}
\begin{tabular*}{\linewidth}{@{}p{0.45\linewidth}@{\hfill}p{0.45\linewidth}@{}}
{{word}} & \hspace{1em}\underline{\hspace{4em}} \\
\end{tabular*}
\vspace{0.5em}
\par
\end{minipage}
{% endfor %}
\end{multicols}

\pagebreak
3. For the following sentences, write the Chinese translation and pinyin.\\
\vspace{0.5em}\\
{% for sentence in sentences_english %}
\noindent
\begin{minipage}{\textwidth}
{{sentence}}\\
\vspace{0.5em}\\
\rule{\textwidth}{0.4pt}
\vspace{0.5em}
\end{minipage}
{% endfor %}

\pagebreak
4. For the following words, write the Chinese translation and pinyin.\\
\begin{multicols}{2}
{% for word in words_english %}
\begin{minipage}{\linewidth}
\begin{tabular*}{\linewidth}{@{}>{\raggedright\footnotesize\arraybackslash}p{0.45\linewidth}@{\hfill}p{0.45\linewidth}@{}}
{\raggedright\footnotesize {{word}}} & \hspace{1em}\underline{\hspace{4em}} \\
\end{tabular*}
\vspace{1.0em}
\par
\end{minipage}
{% endfor %}
\end{multicols}

\end{document}
