\documentclass{article}
\usepackage{fontspec}
\setmainfont{Noto Sans CJK SC} % This defines chinese font - alternatives may be available
\begin{document}
Chinese Test

For the following sentences, write the English translation and pinyin.
{% for sentence in sentences_chinese %}
{{sentence}}\\
\rule{\textwidth}{0.4pt}
{% endfor %}

For the following words, write the English translation and pinyin.
{% for word in words_chinese %}
{{word}}: \underline{\hspace{2em}} \\
{% endfor %}

For the following sentences, write the Chinese translation and pinyin.
{% for sentence in sentences_english %}
{{sentence}}\\
\rule{\textwidth}{0.4pt}
{% endfor %}

For the following words, write the Chinese translation and pinyin.
{% for word in words_english %}
{{word}}: \underline{\hspace{2em}} \\
{% endfor %}

\end{document}
